html, body, #root {
  height: 100%;
  margin: 0;
  background-color: beige;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  width: 100%;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


